@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Installing Webfonts*/

@font-face {
    font-family: 'CodeLight';
    src:url('assets/fonts/CODE-Light.woff') format('woff'),
        url('assets/fonts/CODE-Light.woff2') format('woff2'),
        url('assets/fonts/CODE-Light.eot'),
        url('assets/fonts/CODE-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CODE-Light.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {  
    font-family: 'CodeBold';
    src:url('assets/fonts/CODE-Bold.woff') format('woff'),
        url('assets/fonts/CODE-Bold.woff2') format('woff2'),
        url('assets/fonts/CODE-Bold.eot'),
        url('assets/fonts/CODE-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CODE-Bold.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*Base CSS*/
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px; 
}

a:focus, input:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: normal;
	font-family: 'CodeLight', sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}
button:focus {
    outline: none;
}

/*main css*/
html, body {
	height: 100%;
}
body {
	font-family: 'Karla', sans-serif;
}

.product-bg1 {
	background: url(assets/img/lady-1.png);
}
.product-bg2 {
	background: url(assets/img/lady-2.png);
}
.product-bg3 {
	background: url(assets/img/lady-3.png);
}
.product-bg4 {
	background: url(assets/img/lady-4.png);
}
.product-bg5 {
	background: url(assets/img/lady-5.png);
}
.product-bg6 {
	background: url(assets/img/lady-6.png);
}
.product-bg7 {
	background: url(assets/img/lady-7.png);
}
.product-bg8 {
	background: url(assets/img/lady-8.png);
}
.product-bg9 {
	background: url(assets/img/lady-9.png);
}
.product-bg10 {
	background: url(assets/img/lady-10.png);
}

.homepage-slider-wrap {
    background: url(assets/img/hero-bg.jpg);
    background-color: #EBD7D0;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.header-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-top-area {
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-left ul li {
    display: inline-block;
}

.header-top-area a {
    color: #5b3f61;
	padding: 14px;
	text-transform: uppercase;
	display: inline-block;
}

.header-right {
    text-align: right;
}

a.search-trigger i.fa-search {
    padding-left: 10px;
}
a.menu-trigger {
	display: none;
}
.homepage-slider-wrap div {
    height: 100%;
}

.single-slide-item {
    position: relative;
}

.single-slide-item img {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    bottom: 0;
}


.slide-text-table {
    display: table;
	width: 100%;
}

.slide-text-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15%;
    font-family: 'CodeLight', sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    line-height: 90px;
    color: #E84F88;
    position: relative;
    z-index: 9;
}

.slide-text-tablecell strong {
    font-family: 'CodeBold';
    font-weight: normal;
}
p.alternative-color {
    color: #6db0c6;
}

/*2nd section: Big Menu*/
ul.big-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-transform: uppercase;
    color: #5b3f61;
    font-size: 50px;
    font-family: 'codelight', sans-serif;
}

ul.big-menu li:nth-child(2),

ul.big-menu li:nth-child(3) {
    width: 20%;
}

ul.big-menu li:nth-child(2) {
    background-color: #f1e5e5;
    color: #e84f88;
    font-family: 'codebold', sans-serif;
}

ul.big-menu li:nth-child(3) {
    background-color: #f6f3e6;
}

ul.big-menu li:nth-child(4) {
    background-color: #ecf4f5;
}

ul.big-menu li {
    background-color: #ecf3e8;
    width: 30%;
    float: left;
    padding: 170px 30px 30px;
    cursor: pointer;
    transition: all ease .5s;
}

ul.big-menu li:hover {
    opacity: .8;
}

/*3rd section: Product Area*/
.products-area {
    padding-top: 100px;
}

.single-product-item {
    height: 300px;
    margin-left: 2%;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 18%;
    float: left;
    background-color: #f4f7f7;
}

.product-list {
    margin-left: -2%;
    overflow: hidden;
}

.single-product-item:nth-child(2) {
    background-color: #f5eeee;
    width: 78%;
    height: 620px;
}
.single-product-item:nth-child(4) {
    background-color: #f2f1eb;
    width: 58%;
}
.single-product-item:nth-child(8) {
    background-color: #f2f6f3;
}
.single-product-item:nth-child(9) {
    width: 38%;
    background-color: #f4eef5;
}


.product-top-links {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    z-index: 10;
}

.product-top-links a {
    color: #aa9aac;
    padding: 4px;
    display: inline-block;
    transition: all ease .5s;
}

.product-hover {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    opacity: 0;
}


.product-hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(151 198 213 / .7);
    z-index: -1;
}
.product-hover a {
    position: absolute;
    left: 50%;
    top: 25%;
    color: #FFF;
    border: 2px solid;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-left: -45px;
    margin-top: -17px;
    transition: all ease .5s;
}
.product-bottom-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    color: #89838a;
}

.product-bottom-info h4 {
    margin-bottom: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #5b3f61;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-bottom-info span.product-price {
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #e84f88;
    font-weight: 700;
    top: 25%;
}
span.product-color-box span {
    display: inline-block;
    border: 1px solid #d9d4da;
    height: 10px;
    width: 10px;
    margin: 0 4px;
}

span.product-color-box span:nth-child(2) {
    background: #ee4a4a;
    border-color: #ee4a4a;
}

span.product-color-box span:nth-child(3) {
    background: #99e4e7;
      border-color: #99e4e7;
}
.product-bottom-info span.color-sep {
    height: 14px;
    width: 1px;
    background: #908a91;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: 5px;
}

span.product-color-box {
    padding-left: 15px;
}
.product-hover {
    opacity: 0;
    transition: all ease .5s;
}
.single-product-item:hover .product-hover {
    opacity: 1;
}
.single-product-item:hover .product-hover a {
    top: 40%;
}
.single-product-item:hover .product-top-links a  {
    color: #FFF;
}

a.load-more-products-btn {
    display: block;
    background: #f9f9f8;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 75px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 40px 0px;
    color: #e84f88;
    letter-spacing: 1px;
}
.promo-bg {
    background: #f4f0f0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.product-promotions {
    background: #f8f5f5;
}

a.boxed-btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
    background: #51abc8;
    padding: 12px 36px;
    display: inline-block;
    margin-bottom: 30px;
}

.promo-content {
    padding: 70px 80px 30px 50px;
}

.promo-content p {
    font-size: 1rem;
    color: #786b7a;
    line-height: 2;
    margin-bottom: 30px;
}

.promo-title {
    position: relative;
    margin-bottom: 36px;
}
.promo-title h2 strong {
    color: #e84f88;
    font-size: 36px;
    font-weight: 700;
    font-family: 'CodeBold';
}

.promo-title h2 {
    color: #e84f88;
    font-size: 32px;
    font-family: 'CodeLight';
}


.promo-title span {
    position: absolute;
    font-size: 110px;
    color: rgb(81 171 200 / 20%);
    top: -13px;
    right: 70px;
}

.promo-bg img {
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -40%;
}

.brand-images {
    margin-top: 150px;
    margin-bottom: 50px;
}

.footer-area , .footer-area a {
    color: #919191;
    background: #f4f4f4;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {font-size: 15px;font-weight: 700;padding-right: 30px;display:  inline-block;text-transform: uppercase;}

.footer-area {
    padding: 50px;
}

.footer-area p {
    margin-top: 10px;
    font-size: 15px;
}

.social-links a {
    font-size: 110%;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

input[type="submit"] {
    background: #e84f88;
    color: #FFF;
    border: transparent;
    padding: 9px 20px;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
}

input[type="email"] {
    border: transparent;
    min-width: 300px;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 14px;
}
.footer-menu {
    margin-top: 15px;
}

.owl-carousel .owl-item .single-slide-item img,
.owl-carousel .owl-item .promo-bg img {
    width: auto;
} 

.homepage-slider-wrap .owl-nav button {
    position: absolute;
    top: 50%;
    font-size: 18px;
    color: rgb(91 63 97 / 50%);
    left: 0;
    line-height: 40px;
    margin-top: -20px;
    opacity: 0;
    transition: all ease .3s;
}

.homepage-slider-wrap:hover:hover .owl-nav button {
    left: 5%;
    opacity: 1;
}

.homepage-slider-wrap .owl-nav button i {
    font-size: 25px;
    color: rgb(91 63 97 / 50%);
}

.homepage-slider-wrap .owl-nav button.owl-next {
    left: auto;
    right: 0;
}


.homepage-slider-wrap:hover .owl-nav button.owl-next {
    left: auto;
    right: 5%;
}

.product-promotions .owl-dots button {
    width: 12px;
    height: 12px;
    background-color: #d3cece;
    top: 50%;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.product-promotions .owl-dots button.active {
    background-color: #e84f88;
}

.product-promotions .owl-dots {
    position: absolute;
    right: 30px;
    top: 50%;
}


/*Offcanvus-menu*/
.offcanvus-menu {
    background: #333;
    position: fixed;
    z-index: 99;
    width: 300px;
    padding: 15px;
    height: 100%;
    margin-left: -300px;
    transition: all ease .3s;
}

.offcanvus-menu.active {
    margin-left: 0px;
}
.offcanvus-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 50px;
}
.offcanvus-menu ul li {
    display: block;
    border-bottom: 1px solid #444;
}

.offcanvus-menu ul li a {
    color: #FFF;
    padding: 10px 0;
    display: block;
}

.offcanvus-menu ul li:last-child {
    border-bottom: none;
}

span.menu-close {
    color: #FFF;
    position: absolute;
    padding: 13px;
    right: 0;
    cursor: pointer;
}
.offcanvus-overlay {
    position: fixed;
    background: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0;
    transition: all ease .3s;
}
.offcanvus-overlay.active {
    z-index: 9;
    opacity: .6;
}
/*Offcanvus-css End*/

/*Menu Trigger*/
a.menu-trigger {
    display: block;
    cursor: pointer;
    float: left;
}
a.menu-trigger span {
    display: block;
    height: 2px;
    width: 30px;
    background: #e84f88;
    margin-bottom: 5px;
}
a.menu-trigger span:nth-child(2) {
    width: 65%;
}

a.menu-trigger span:nth-child(3) {
    width: 85%;
}